<div class="invitation">
    <div class="hero">
        <div class="main-img"></div>
        <div class="hero-info">
            <p data-aos="zoom-out" data-aos-duration="1400" class="name">LUDWICA</p>
            <p data-aos="zoom-out" data-aos-duration="1400" class="date">24.10.2026</p>
        </div>
    </div>
    <div class="principal-text">
        <div data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200">
            <p class="title">Mis XV años</p>
            <p>
                Mis 15 años no son solo una fiesta, son el inicio de un nuevo viaje.
                Acompáñame a celebrar este capítulo tan especial de mi vida,
                con la bendición de Dios y junto a mis padres y padrinos.
            </p>

            <div class="family">
                <h3>MIS PADRES</h3>
                <p>Sr. Efraín Castañeda Ledesma</p>
                <p>Sra. Ximena López</p>
            </div>

            <div class="family">
                <h3>MIS PADRINOS</h3>
                <p>Sr. Eduardo García Gallardo</p>
                <p>Sra. Ana Torres González</p>
            </div>

            <div class="countdown">

                <div class="time-box">
                    <div class="number">{{ tiempo.dias }}</div>
                    <div class="label">Días</div>
                </div>

                <div class="divider"></div>

                <div class="time-box">
                    <div class="number">{{ tiempo.horas }}</div>
                    <div class="label">Horas</div>
                </div>

                <div class="divider"></div>

                <div class="time-box">
                    <div class="number">{{ tiempo.minutos }}</div>
                    <div class="label">Min.</div>
                </div>

                <div class="divider"></div>

                <div class="time-box">
                    <div class="number">{{ tiempo.segundos }}</div>
                    <div class="label">Seg.</div>
                </div>

            </div>

            <img src="sol.png" class="sol sol1">
            <img src="sol.png" class="sol sol2">
            <img src="sol.png" class="sol sol3">
        </div>


    </div>

</div>