<div class="invitation">
    <div class="hero">
        <div class="main-img"></div>
        <div class="hero-info">
            <p data-aos="zoom-out" data-aos-duration="1400" class="name">LUDWIKA</p>
            <!--  <p data-aos="zoom-out" data-aos-duration="1400" class="date">24.10.2026</p> -->
        </div>
    </div>
    <div class="principal-text">
        <div data-aos="fade-up" data-aos-duration="1400" data-aos-delay="500">
            <p class="title">Mis XV años</p>
            <p>
                Mis 15 años no son solo una fiesta, son el inicio de un nuevo viaje.
                Acompáñame a celebrar este capítulo tan especial de mi vida,
                con la bendición de Dios y junto a mis padres y padrinos.
            </p>

            <!--   <div class="family">
                <h3>✨MIS PADRES✨</h3>
                <p>Sr. Efraín Castañeda Ledesma</p>
                <p>Sra. Ximena López</p>
            </div>
            <div class="family">
                <h3>✨MIS PADRINOS✨</h3>
                <p>Sr. Eduardo García Gallardo</p>
                <p>Sra. Ana Torres González</p>
            </div> -->
        </div>
        <!-- <div data-aos="fade-up" data-aos-duration="1400" class="countdown">

            <div class="time-box">
                <div class="number">{{ tiempo.dias }}</div>
                <div class="label">Días</div>
            </div>

            <div class="divider"></div>

            <div class="time-box">
                <div class="number">{{ tiempo.horas }}</div>
                <div class="label">Horas</div>
            </div>

            <div class="divider"></div>

            <div class="time-box">
                <div class="number">{{ tiempo.minutos }}</div>
                <div class="label">Min.</div>
            </div>

            <div class="divider"></div>

            <div class="time-box">
                <div class="number">{{ tiempo.segundos }}</div>
                <div class="label">Seg.</div>
            </div>

        </div> -->

        <img src="sol.png" class="sol sol1">
        <img src="sol.png" class="sol sol2">
        <img src="sol.png" class="sol sol3">
    </div>
    <div class="rvsp">
        <div class="rvsp-color">
            <div data-aos="fade-up" data-aos-duration="1400" data-aos-delay="500">
                <p class="title ">RVSP</p>
                <!--    <p>
                    Con gran ilusión, quiero invitarte a acompañarme en uno de los días más felices de mi vida. Nada me
                    hará
                    más feliz que celebrar este día tan especial rodeada de quienes quiero.
                </p> &nbsp; -->
                <p>
                    Por favor, confirma tu asistencia antes del 1 de Septiembre.
                </p> &nbsp;
                <p>
                    Una vez confirmada, te enviaré la invitación completa con la dirección, el horario y demás
                    información del evento.
                </p>
            </div>
            <div data-aos="fade-up" data-aos-duration="1400" data-aos-delay="500">
                <a class="whatsapp-btn"
                    href="https://wa.me/524151673223?text=Hola%20Lu,%20me%20gustaría%20confirmar%20mi%20asistencia%20a%20tus%20XV%20años.%0AMi%20nombre%20es:"
                    target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    Confirmar asistencia
                </a>
            </div>


        </div>
    </div>
    <!--  <div class="picks">
        <swiper-container loop="true" autoplay-delay="5000" autoplay-disable-on-interaction="false" space-between="10"
            slides-per-view="2" pagination="false" navigation="false" breakpoints='{
                "768": {
                  "slidesPerView": 4
                },
                "1200": {
                  "slidesPerView": "auto"
                }
              }'>

            @for (image of images; track image) {
            <swiper-slide>
                <img [src]="image" />
            </swiper-slide>
            }

        </swiper-container>
    </div> -->

    <div class="thanks">
        <div data-aos="fade-up" data-aos-duration="1400">
            <p>¡Muchas Gracias!</p>
            <p>Lu <i class="fa-solid fa-crown"></i></p>
        </div>

        <div data-aos="fade-up" data-aos-duration="1400" class="pascal">
            <img src="pascal.png" class="pascal-img">
        </div>
    </div>
</div>