@import 'aos/dist/aos.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
     background: #8550A0 !important;
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
}

@font-face {
  font-family: 'Waltograph';
  src: url('/assets/fonts/Tangled.ttf') format('truetype');
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}