<div class="home">

  <div data-aos="zoom-in" data-aos-delay="1600" data-aos-duration="1400" class="decorations">
    <img  src="sol.png" class="sol sol1">
    <img src="sol.png" class="sol sol2">
    <img src="sol.png" class="sol sol3">

    <img src="pascal.png" class="pascal pascal1">
    <img src="pascal.png" class="pascal pascal2">
    <img src="pascal.png" class="pascal pascal3">
  </div>

  <div class="title center">
    <div data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
      <p>Mis XV Ludwica</p>
    </div>

    <div data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="1000">
      <button type="button" class="btn" (click)="openInvitation()">Abrir</button>
    </div>
  </div>

</div>